<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 5.5.0 - https://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:906dfe5cbea54f8561f7ef91b6e0759c:4ec9725f7a4ef9b0e5c2cc1aa048d903:f852a655b42ffe59dac17eb131c62c4f$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>character_texture.1.png</string>
                <key>size</key>
                <string>{1866,925}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Amelia/Amelia_fly_forward_fire.png</string>
                        <key>spriteOffset</key>
                        <string>{79,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{370,450}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Amelia/Amelia_fly_normal_fire.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{1,453},{338,450}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Amelia/Amelia_fly_backward_fire.png</string>
                        <key>spriteOffset</key>
                        <string>{127,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{341,453},{322,450}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Amelia/Amelia_fly_forward.png</string>
                        <key>spriteOffset</key>
                        <string>{79,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{373,1},{290,450}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Amelia/Amelia_fly_normal.png</string>
                        <key>spriteOffset</key>
                        <string>{111,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{665,1},{258,450}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Amelia/Amelia_fly_backward.png</string>
                        <key>spriteOffset</key>
                        <string>{127,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{665,453},{242,450}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gura/gura_trident.png</string>
                        <key>spriteOffset</key>
                        <string>{0,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{909,453},{369,434}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gura/gura_3.png</string>
                        <key>spriteOffset</key>
                        <string>{143,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{925,1},{258,434}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gura/gura_1.png</string>
                        <key>spriteOffset</key>
                        <string>{143,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{1185,1},{226,434}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Gura/gura_2.png</string>
                        <key>spriteOffset</key>
                        <string>{143,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{512,512}</string>
                        <key>textureRect</key>
                        <string>{{1413,1},{434,210}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <true/>
                        <key>name</key>
                        <string>skill/beam.png</string>
                        <key>spriteOffset</key>
                        <string>{0,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1413,213},{256,256}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy/bat/bat_2.png</string>
                        <key>spriteOffset</key>
                        <string>{0,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1671,213},{194,256}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy/bat/bat_1.png</string>
                        <key>spriteOffset</key>
                        <string>{31,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1280,471},{194,241}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy/ghost/ghost_1.png</string>
                        <key>spriteOffset</key>
                        <string>{15,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1280,714},{226,210}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy/ghost/ghost_2.png</string>
                        <key>spriteOffset</key>
                        <string>{15,15}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1476,471},{226,226}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy/ghost/ghost_3.png</string>
                        <key>spriteOffset</key>
                        <string>{15,31}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1508,699},{210,210}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>enemy/bat/bat_3.png</string>
                        <key>spriteOffset</key>
                        <string>{47,47}</string>
                        <key>spriteSourceSize</key>
                        <string>{256,256}</string>
                        <key>textureRect</key>
                        <string>{{1704,471},{146,194}}</string>
                        <key>textureRotated</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
